.nav_list {
    list-style: none;
    display: flex;
    font-size: 1.6rem;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    border-radius: 2rem;
    background-color: #EBF4F8;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav_list_container li{
    padding: 1.25rem 3rem;
    color: #7C9CBF;
}
.logo_container {
background: #0E518E;
border-radius: 2rem;
width: 138px;
height: 45px;
}

.logo_container li {
    font-size: 1.6rem;
    padding: 1.25rem 3rem;
    color: white;
    list-style: none;
    font-family: 'Helvetica Neue';
    display: flex;
    font-weight: 700;
    justify-content: center;
align-items: center;
}

nav {
    position: fixed;
    display: flex;
    margin-top: 6.1rem;
    margin-left: 7.1rem;
    gap: 47.6rem;
    z-index: 200;
}

.nav_list_container li:hover {
    color: #FDFFFC;
    border-radius: 2rem;
background: var(--main, #0E518E);
}

/* styles.css */
.navlink {
    text-decoration: none;
  }
