.App {
    background: #FDFFFC;
    width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  /* overflow: hidden; */
}

.overflowing-content {
    overflow: auto; /* Display scrollbars if content overflows */
    /* Additional styling */
  }